@model Web.Models.HomeViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/Layout.cshtml";
    Func<decimal?, string> formatMoney = (amount) =>
    {
        if (amount.HasValue)
        {
            return amount.Value.ToString("#,##0.00");
        }
        else
        {
            return "0.00";
        }
    };
}
<script src="~/Assets/admin/libs/toastr/toastr.min.js"></script>
@section homeProducts{

    <!-- single product slide -->
<div class="single-product-slider">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Sản phẩm mới nhất</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var product in Model.LastestProducts)
            {
                var url = "/" + product.Alias + ".p-" + product.ID + ".html";

                <!-- single product -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-product">
                        <a href="@url"><img src="@product.Image"  width="250" height="250"/> </a>
                        <div class="product-details">
                            <h6><a href="@url">@product.Name</a></h6>
                            <div class="price">
                                <h6>@formatMoney(product.PromotionPrice)</h6>
                                <h6 class="l-through">@formatMoney(product.Price)</h6>
                            </div>

                            <div class="prd-bottom">

                                <a href="" class="social-info btnAddToCart" data-id="@product.ID">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">add to bag</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-heart"></span>
                                    <p class="hover-text">Wishlist</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-sync"></span>
                                    <p class="hover-text">compare</p>
                                </a>
                                <a href="@url" class="social-info">
                                    <span class="lnr lnr-move"></span>
                                    <p class="hover-text">view more</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
        </div>
    </div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h1>Sản phẩm bán chạy nhất</h1>

            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var product in Model.TopSaleProducts)
        {
            var url = "/" + product.Alias + ".p-" + product.ID + ".html";

            <!-- single product -->
            <div class="col-lg-4 col-md-6">
                <div class="single-product">
                    <a href="@url"><img src="@product.Image"  width="250" height="250"/></a>
                    <div class="product-details">
                        <h6><a href="@url">@product.Name</a></h6>
                        <div class="price">
                            <h6>@formatMoney(product.PromotionPrice)</h6>
                            <h6 class="l-through">@formatMoney(product.Price)</h6>
                        </div>

                        <div class="prd-bottom">

                            <a href="" class="social-info btnAddToCart" data-id="@product.ID">
                                <span class="ti-bag"></span>
                                <p class="hover-text">add to bag</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Wishlist</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-sync"></span>
                                <p class="hover-text">compare</p>
                            </a>
                            <a href="@url" class="social-info">
                                <span class="lnr lnr-move"></span>
                                <p class="hover-text">view more</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
    </div>
     
    }

<section class="lattest-product-area pb-40 category-list">
    <div class="text-right" style="background-color: #828BB3;line-height: 50px;border-radius: 0.75rem;">
        <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-start">
            <div class="sorting" style="border-radius: 0.6rem;">
                <select id="sortOptions" onchange="handleSortChange()" class="mb-2" >
                    <option value="" @(String.IsNullOrEmpty(ViewBag.Sort) ? "selected" : "")>Chọn phương thức sắp xếp</option>
                    <option value="popular" @(ViewBag.Sort == "popular" ? "selected" : "")>Bán chạy</option>
                    <option value="discount" @(ViewBag.Sort == "discount" ? "selected" : "")>Khuyến mãi</option>
                    <option value="price" @(ViewBag.Sort == "price" ? "selected" : "")>Giá: Thấp -> Cao</option>
                    <option value="priceDes" @(ViewBag.Sort == "priceDes" ? "selected" : "")>Giá: Cao -> Thấp</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var product in Model.AllProducts)
        {
            var url = "/" + product.Alias + ".p-" + product.ID + ".html";

            <!-- single product -->
            <div class="col-lg-4 col-md-6">
                <div class="single-product">
                    <a href="@url"><img src="@product.Image"  width="250" height="250"/></a>
                    <div class="product-details">
                        <h6><a href="@url">@product.Name</a></h6>
                        <div class="price">
                            <h6>@formatMoney(product.PromotionPrice)</h6>
                            <h6 class="l-through">@formatMoney(product.Price)</h6>
                        </div>

                        <div class="prd-bottom">

                            <a href="" class="social-info btnAddToCart" data-id="@product.ID">
                                <span class="ti-bag"></span>
                                <p class="hover-text">add to bag</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Wishlist</p>
                            </a>
                            <a href="" class="social-info">
                                <span class="lnr lnr-sync"></span>
                                <p class="hover-text">compare</p>
                            </a>
                            <a href="@url" class="social-info">
                                <span class="lnr lnr-move"></span>
                                <p class="hover-text">view more</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="filter-bar d-flex flex-wrap align-items-center" style="border-radius: 0.6rem;">
        @if (ViewBag.TotalPage >= 1)
        {
            var startPageIndex = Math.Max(1, ViewBag.Page - ViewBag.MaxPage / 2);
            var endPageIndex = Math.Min(ViewBag.TotalPages, ViewBag.Page + ViewBag.MaxPage / 2);

            <nav>
                <ul class="pagination">
                    @if (ViewBag.Page > 1)
                    {
                        <li>
                            <a href="?page=1" aria-label="First">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="?page=@(ViewBag.Page-1)" aria-label="Previous">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                    }

                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (ViewBag.Page == i)
                        {
                            <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="?page=@i" title="Trang @i">@i</a></li>
                        }
                    }
                    @if (ViewBag.Page < ViewBag.TotalPages)
                    {
                        <li>
                            <a href="?page=@(ViewBag.Page+1)" aria-label="Next">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="?page=@ViewBag.TotalPages" aria-label="Last">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</section>
<script type="text/javascript">
    function handleSortChange() {
        var sort = document.getElementById("sortOptions").value;
        var currentUrlParams = new URLSearchParams(window.location.search);
        currentUrlParams.set('sort', sort);
        window.location.search = currentUrlParams.toString();
    }
</script>